@media screen and (min-width: 768px) {

    /*Catalog*/
    .catalog-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card-img {
        width: 230px;
        height: 230px;
    }

    .product-name {
        font-size: 24px;
    }

    .price {
        font-size: 22px;
    }

    .add-to-cart-container {
        padding: 10px;
    }

    .add-to-cart {
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {

    /* modal */
    .reg-modal {
        width: 400px;
        height: 500px;
        padding: 3em;
    }

    .form-title {
        font-size: 3rem;
        font-weight: 200;
    }

    .authorize-buttons button {
        width: 120px;
        height: 40px;
        font-size: 1.2rem;
    }

    .form-input-subtitle {
        font-size: 1.2rem;
    }

    .reg-form-input {
        height: 35px;
    }

    .reg-form-input,
    .reg-form-input::placeholder {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {

    /*Catalog*/
    .catalog-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-img {
        width: 280px;
        height: 280px;
    }

    .product-name {
        font-size: 28px;
    }

    .price {
        font-size: 24px;
    }

    .add-to-cart-container {
        padding: 14px;
    }

    .add-to-cart {
        font-size: 28px;
    }
}