body {
    min-height: 100vh;
}

/* registration modal */
.reg-modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.302);
    display: none;
    justify-content: center;
    align-items: center;
}

.reg-modal {
    width: 280px;
    height: 340px;
    background-color: #fff;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-title {
    font-size: 2rem;
    font-weight: 300;
}

.form-field,
.reg-form-input {
    width: 100%;
}

.form-input-subtitle {
    font-weight: 600;
    font-size: 1rem;
}

.reg-form-input {
    height: 25px;
    margin-top: 0.1em;
    padding-left: 0.3em;
    border: 1.5px rgba(0, 0, 0, 1) solid;
    border-radius: 5px;
    outline: none;
}

.reg-form-input::placeholder,
.reg-form-input {
    font-family: 'Montserrat', sans-serif;
}

.authorize-buttons button {
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    cursor: pointer;
    transition: .5s;
}

.authorize-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dont-authorize {
    border: 1px #000;
    background-color: transparent;
}

.dont-authorize:hover {
    background-color: #000;
    color: #fff;
}

.authorize {
    background-color: #000;
    color: #fff;
    border: 1px #000;
}

.authorize:hover {
    background-color: #fff;
    color: #000;
}

/* Catalog */

.catalog {
    width: 100%;
}

.catalog-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
    margin: 20px auto;
    width: fit-content;
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    transition: 0.2s;
    background-color: #fff;
}

.card-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.product-name {
    font-size: 16px;
}

.price {
    font-size: 14px;
}

.add-to-cart-container {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.759);
    transition: 0.3s;
}

.add-to-cart {
    font-size: 20px;
    font-weight: 300;
    color: white;
    transition: 0.3s;
}

.add-to-cart-container:hover {
    background-color: white;
}

.add-to-cart-container:hover .add-to-cart {
    color: black;
}

.add-to-cart-container:active {
    transition: 0.1s;
    box-shadow: 0 2px rgba(0, 0, 0, 0.727);
    transform: translate(0, 3px);
}